 
#ct {
    margin:10px;
    font-family:Verdana, Arial, sans-serif;
    font-size:13px;
}
.userChatTabLink {
    display:block;
    padding:3px;
    text-decoration:none;
}
.userChatTabLink:hover {
    text-decoration:none;
    background: turqoise;
}
.link-panel .x-panel-body {
    padding:4px;
}

 .link-panel {
    margin-top: 4%;
 }

.newMessageArrived {
	background-color: turquoise;
}

.userAvailable {
	color : green;
}
.userBusy {
	color : red;
}
.userAway {
	color : yellow;
}

.newChatInitiation {
    animation: doTextColorAnime 2s;
    -moz-animation: doTextColorAnime 2s infinite; /* Firefox */
    -webkit-animation: doTextColorAnime 2s infinite; /* Safari and Chrome */
}

@-moz-keyframes doTextColorAnime /* Firefox */
{
    0%   {background-color:red;}
    50%  {background-color:green;}
    100%   {background-color:red;}
}

@-webkit-keyframes doTextColorAnime /* Safari and Chrome */
{
    0%   {background-color:red;}
    50%  {background-color:green;}
    100%   {background-color:red;}
}